.header {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    height: 100px;
}

.restaurant-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.restaurant-card {
    width: 300px;
    background-color: antiquewhite;
    margin-top: 10px;
    margin-left: 10px;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-image {
    width: 300px;
    height: 200px;
}

.restaurant-details {
    margin-left: 5px;
    margin-right: 5px;
}

.restaurant-misc-details {
    display: flex;
    justify-content: space-around;
    color: gray;
    border-bottom: 1px dotted gray;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 8px;
    font-size: 22px;
    font-family: cursive;
    font-weight: 200;
}

.body {
    background-color: lightblue;
    margin: 20px;
}

.search {
    justify-content: center;
    margin: 1%;
    padding:1%;

}

h1, h2, h3, h4, h5, h6 {
    margin: 5px;
}

.footer {
    border: 1px solid black;
    display: flex;
}

.filter-button {
    margin: 1%;
}

.shimmer-card {
    background-color: #f0f0f0;
    height: 400px;
}

.shimmer-container {
    background-color: white;
}

.login {
    padding: 10px;
    margin: 8px;
    font-size: 18px;
    font-family: cursive;
    font-weight: 200;
    cursor: pointer;
}

.filter {
    display:flex;
    flex-wrap: wrap;
}